# Application
PORT=3001
NODE_ENV=development

# JWT
JWT_SECRET=lottle_will_navarro
JWT_EXPIRATION=1d

# Neon Database
DATABASE_URL='postgresql://neondb_owner:npg_9ZBXig7quHed@ep-shiny-glade-acuih8qy-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'

# CORS
CORS_ORIGIN=http://localhost:3000